$bodyFont: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$defaultMargin: 1.5rem;

body {
  font-family: $bodyFont;
  margin: 0 $defaultMargin;
}
a:visited,
a,
a:hover,
.btn {
  color: #0085a1;
}
.btn,
.btn:hover {
  border-color: #0085a1;
}
.btn:hover {
  background: #00968824;
}
.btn.active,
.btn:active {
  background: #0085a1;
  border-color: #0085a1;
}

.blog-header {
  margin: 0 (-$defaultMargin) $defaultMargin;
}

.blog-header .breadcrumb {
  padding-left: $defaultMargin;
}

.blog-header h1 {
  font-weight: 800;
}

.blog-header p {
  font-style: italic;
}
.blog-content {
  line-height: 1.6;
  margin: 0px auto;
  max-width: 650px;
}

.blog-content .panel {
  border: none;
}

.blog-content .blog-post-header {
  margin-bottom: $defaultMargin;
}

.blog-post-title {
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.5rem !important;
}

.blog-post-subtitle {
  font-style: italic;
}

.blog-content .blog-post-content {
  margin: 0px auto;
  max-width: 80ch;
  text-align: justify;
}
